logs
*.log
npm-debug.log*
build-debug/
node_modules/
coverage
src
dist/
.vscode
!.vscode/tasks.js
.idea/
.npm
.DS_Store
.editorconfig
.gitignore
.travis.yml
jest.config.js
preprocessor.js
tsconfig.release.json
tslint.json
tsconfig.json
yarn.lock